.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  animation: fadeIn 0.4s ease;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;

  animation: scaleIn 0.4s ease;
}

/* Backdrop animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal animation */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
