.client-details-container {
  flex: 1;
}

.client-details-header {
  text-align: center;
  font-size: 2.5rem;
  padding: 0.8rem 0rem;
}

/* Add clients button styles */

.add-clients-container {
  background-color: blueviolet;
  display: flex;
  justify-content: end;
  padding: 0.5rem 3rem;
}

.add-clients {
  padding: 0.4rem 0.9rem;
  font-size: 1rem;
}

/* Client details styles */

.details-container {
  background-color: red;
  padding: 0.8rem 2rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.details-card {
  background-color: white;
  width: 25vw;
  height: 200px;
  border-radius: 10px;
  padding: 1rem;
}

.details-card-header {
  text-align: center;
  font-size: 2rem;
}

.client-info {
  padding: 0.5rem;
  gap: 0.4rem;
}

.client-info p {
  font-size: 1.2rem;
}

.details-card-actions {
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-around;
}

.details-card-actions button {
  padding: 0.7rem 1.8rem;
  font-size: 1.2rem;
}
