.appointment-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

/* Appointment details Styles */
.appointemt-details {
  width: 90%;
  height: 100%;
  background-color: pink;
}

.appointemt-details h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 0.2rem;
}

/* Appointment button styles */
.appointment-button {
  background-color: brown;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6rem 0.2rem;
}

.appointment-button button {
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  border-radius: 7px;
}

/* Upcomings appointment details */

.upcomings-appointment {
  width: 30%;
  height: 100%;
  background-color: green;
}

/* appointment list styles */

.appointment-list {
  flex: 1;
  padding: 1rem 1.5rem;
}

.appointment-list h2 {
  text-align: center;
  font-size: 2rem;
}

.appointment-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
