# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---------------------------
# Virtual Environment
# ---------------------------
venv/
.env/
.env.*

# ---------------------------
# Databases
# ---------------------------
*.db
*.sqlite3

# ---------------------------
# FastAPI / Uvicorn
# ---------------------------
*.log

# ---------------------------
# IDE / Editor
# ---------------------------
.vscode/
.idea/

# ---------------------------
# OS Files
# ---------------------------
.DS_Store
Thumbs.db
