.legal-container {
  height: 100%;
  width: 100%;
}

.legal-header {
  text-align: center;
  padding: 0.8rem 0.2rem;
}

.legal-header h1 {
  font-size: 2.5rem;
  padding: 0.8rem 0.1rem;
}
.legal-header p {
  font-size: 1rem;
}

/* main Styles */

.legal-main {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 1rem;
}

.main-1 {
  width: 40%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.main-2 {
  width: 55%;
  border: 2px solid firebrick;
}
