.contract-container {
  width: 100%;
  height: 100%;
}

.contract-header {
  padding: 0.8rem 0.5rem;
  text-align: center;
}

.contract-header h1 {
  font-size: 2.5rem;
  padding: 0.8rem;
}
.contract-header p {
  font-size: 1.2rem;
}

/* contract main styles */

.contract-main {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.contract-main-1 {
  width: 40%;
  background-color: blanchedalmond;
}

.contract-main-2 {
  width: 50%;
  background-color: aqua;
}
